<div class="container">
    <div class="row">
        <h2>Welcome to</h2>

        <div class="main-img">
        
            <img src="img/BWork.png" alt="">
            <div class="card-login d-flex justify-content-center align-items-center">
                <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">

                    <p>Crea una nuova password!</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                        
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="inserisci la tua email" aria-label="default input example">
                        <button  type="button" class="btn btn-sand mb-4">Invia nuova password</button>
                    </div>
                    <p onclick="changeRoute('/')">< torna indietro </p>

                </div>
            </div>
        </div>
       
    </div>
</div>