<div class="ms_container">

    <h2>Welcome to</h2>
    <div class="mobile ">
        <img src="img/BWork.png" alt="">
        <div class="card-login d-flex justify-content-center align-items-center">
            <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">

                <p>Sei un utente già registato?</p>
                <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                    <input class="form-control col-md-4 mb-4" type="text" placeholder="Username"
                        aria-label="default input example">
                    <input class="form-control col-md-4 mb-4" type="text" placeholder="Password"
                        aria-label="default input example">
                    <button onclick="changeRoute('messages')" type="button" class="btn btn-sand mb-4">Log
                        in</button>
                </div>
                <p onclick="changeRoute('forgottenpsw')" class="text-decoration-underline">Forgot password?</p>
                <p>Oppure</p>
                <button onclick="changeRoute('registration')" type="button" class="btn btn-sand">Registrati</button>

            </div>
        </div>
    </div>
    <div class="home-desktop">
        <div class="log-big d-flex justify-content-center">
            <img src="img/BWork.png" alt="">
        </div>
        <div class="form-part">

            <div class="card-desktop-big d-flex justify-content-center align-items-center">
                <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">
    
                    <p>Sei un utente già registato?</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Username"
                            aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Password"
                            aria-label="default input example">
                        <button onclick="changeRoute('messages')" type="button" class="btn btn-sand mb-4">Log
                            in</button>
                    </div>
                    <p class="text-center">Forgot password?<br><strong>No worries!</strong><br>Crea una nuova password!</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
    
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="inserisci la tua email"
                            aria-label="default input example">
                        <button type="button" class="btn btn-sand mb-4">Invia nuova password</button>
                    </div>
    
                </div>
            </div>
            <div class="card-desktop-small d-flex justify-content-center align-items-center">
                <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">
                   
    
                    <p class="text-center">Oppure <br>Registrati adesso!</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Nome" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Cognome" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Username" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Password" aria-label="default input example">
                        <button onclick="changeRoute('messages')" type="button" class="btn btn-sand mb-4">Registrati</button>
                    </div>
                    
    
                </div>
            </div>
        </div>

    </div>

</div>
            <!-- <div class="row">
        <h2>Welcome to</h2>

        
        <div class="mobile">
            <div class="main-img d-flex flex-column">
                <img src="img/BWork.png" alt="">
                <div class="card-login d-flex justify-content-center align-items-center">
            </div>
                <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">

                    <p>Sei un utente già registato?</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Username"
                            aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Password"
                            aria-label="default input example">
                        <button onclick="changeRoute('messages')" type="button" class="btn btn-sand mb-4">Log
                            in</button>
                    </div>
                    <p onclick="changeRoute('forgottenpsw')" class="text-decoration-underline">Forgot password?</p>
                    <p>Oppure</p>
                    <button onclick="changeRoute('registration')" type="button"
                        class="btn btn-sand">Registrati</button>

                </div>
            </div>
        </div>
        <div class="desktop d-flex justify-content-evenly d-none">

            <div class="card-desktop-big d-flex justify-content-center align-items-center">
                <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">

                    <p>Sei un utente già registato?</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Username"
                            aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Password"
                            aria-label="default input example">
                        <button onclick="changeRoute('messages')" type="button" class="btn btn-sand mb-4">Log
                            in</button>
                    </div>
                    <p class="text-center">Forgot password?<br><strong>No worries!</strong><br>Crea una nuova password!</p>
                <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                    
                    <input class="form-control col-md-4 mb-4" type="text" placeholder="inserisci la tua email" aria-label="default input example">
                    <button  type="button" class="btn btn-sand mb-4">Invia nuova password</button>
                </div>

                </div>
                
            </div>
            <div class="card-desktop-small d-flex justify-content-center align-items-center">
                <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">

                    <p>Registrati adesso!</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Nome" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Cognome" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Username" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Password" aria-label="default input example">
                        <button onclick="changeRoute('messages')" type="button" class="btn btn-sand mb-4">Registrati</button>
                    </div>
                    

                </div>
            </div>
            
        </div>
    </div>

</div>

 