<div class="ms_container">
  

    <div class="message-page  d-flex justify-content-center align-items-center">

        <img class="logo-small" src="img/BWork.png" alt="">
    </div>
    <div class="page-top d-flex justify-content-center align-items-center">
        <h6 onclick="changeRoute('/')" " class="back-arrow"><</h6>
        <h6 class=" text-uppercase">messaggi ricevuti</h6>
    </div>
    <div class="mobile-part">
    <div class="main-part">

      <div class="ms_card">
        <div class="table-responsive rounded ms_table">
  
          <table class="table rounded  table-borderless ">
              <thead>
                <tr>
                  
                  <th scope="col">Nome</th>
                  <th scope="col">John Smith</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                
                  <td scope="row" class="fw-bold">Titolo</td>
                  <td>Bussines meeting</td>
                  
                </tr>
                <tr>
                 
                  <td scope="row" class="fw-bold">Data</td>
                  <td>11/06/1987</td>
                 
                </tr>
                <tr>
                 
                  <td scope="row" class="fw-bold">Ultimo messaggio</td>
                  <td>Hi Mr Smith I hope to find you well!!</td>
                </tr>
                <tr>
                 
                  <td scope="row" class="fw-bold">N.Messaggi</td>
                  <td>21</td>
                </tr>
              </tbody>
            </table>
        </div>
  
      </div>
      <div class="ms_card">
        <div class="table-responsive rounded ms_table">
  
          <table class="table rounded  table-borderless ">
              <thead>
                <tr>
                  
                  <th scope="col">Nome</th>
                  <th scope="col">John Smith</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                
                  <td scope="row" class="fw-bold">Titolo</td>
                  <td>Bussines meeting</td>
                  
                </tr>
                <tr>
                 
                  <td scope="row" class="fw-bold">Data</td>
                  <td>11/06/1987</td>
                 
                </tr>
                <tr>
                 
                  <td scope="row" class="fw-bold">Ultimo messaggio</td>
                  <td>Hi Mr Smith I hope to find you well!!</td>
                </tr>
                <tr>
                 
                  <td scope="row" class="fw-bold">N.Messaggi</td>
                  <td>21</td>
                </tr>
              </tbody>
            </table>
        </div>
  
      </div>
    </div>
  </div>
  <div class="desktop-part">
    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Titolo</th>
            <th scope="col">Data</th>
            <th scope="col">Ultimo messaggio</th>
            <th scope="col">N. messaggi</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
          <tr>
            <th scope="row">John Smith</th>
            <td>Meeting</td>
            <td>11/06/2023</td>
            <td>How are you?</td>
            <td>21</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>