<div class="ms_container">
    <div class="message-page  d-flex justify-content-center align-items-center">

        <img class="logo-small" src="img/BWork.png" alt="">
    </div>
    <div class="page-top d-flex justify-content-center align-items-center">
        <h6 onclick="changeRoute('/')" " class="back-arrow"><</h6>
        <h6 class=" text-uppercase">crea una nuova conversazione</h6>
    </div>
    <div class="mobile-part-dark pt-4">
        <div class="d-flex flex-column align-items-center p-4">

            <button  type="button" class="btn btn-outline-light mb-3 btn-lg text-uppercase col-8">
                <i class="fa-solid fa-magnifying-glass p-2"></i>
            cerca contatti 
            </button>
            <div class="mb-3 d-flex flex-column col-8">
                <label for="titolo" class="form-label text-uppercase text-light text-center">Titolo</label>
                <input type="email" class="form-control-lg" id="titolo" placeholder="meeting">
              </div>
              <div class="mb-3 d-flex flex-column col-8">
                <label for="Textarea1" class="form-label text-uppercase text-light text-center">Messaggio</label>
                <textarea class="form-control-lg ms_textarea" id="Textarea1" rows="3" placeholder="es. dear collegues"></textarea>
              </div>
              <button  type="button" class="text-uppercase btn btn-sand mb-4">Invia</button>
        </div>
    </div>
</div>