<div class="container">
    <div class="row">
        <h2>Welcome to</h2>

        <div class="main-img">
        
            <img src="img/BWork.png" alt="">
            <div class="card-login d-flex justify-content-center align-items-center">
                <div class="card-content d-flex flex-column justify-content-center align-items-center g-4">

                    <p>Registrati adesso!</p>
                    <div class="col-auto d-flex flex-column justify-content-center align-items-center g-4">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Nome" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Cognome" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Username" aria-label="default input example">
                        <input class="form-control col-md-4 mb-4" type="text" placeholder="Password" aria-label="default input example">
                        <button onclick="changeRoute('messages')" type="button" class="btn btn-sand mb-4">Registrati</button>
                    </div>
                    <p onclick="changeRoute('/')">< torna indietro </p>

                </div>
            </div>
        </div>
       
    </div>
</div>